{% extends "base.html" %}

{% block title %}
HOME
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1672301642689-b85abfe944a0?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height: 580px; width: 200px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="font-size: 25px; color: #000000; position: absolute; margin-bottom: 0%; margin-left: 34%;">Welcome to my candy shop!!</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1634577208449-fdc8b8cf3a69?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height: 580px; width: 200px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1516479168478-37e0b1092667?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="height: 580px; width: 200px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container my-3">
<h2 class="my-4 text-center">Select from our magical range of candy's</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-12/14/17/asset/buzzfeed-prod-fastlane-03/sub-buzz-23243-1513291394-1.jpg"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">

        <div class="card-body">
          <p class="card-text"><h5>Magical Mints</h5><br>Cool and refreshing mints that make your breath sparkle with tiny stars!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://en.wikipedia.org/wiki/Mint_(candy)'" aria-label="Learn more about mint candy">View more</button>

            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://th.bing.com/th/id/OIP.hrmS6jIP6OO7sxZydpcdgAHaHX?rs=1&pid=ImgDetMain"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><h5>Rainbow Drops</h5><br>
            Tiny candies that taste like your favorite color and make you smile!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://en.wikipedia.org/wiki/Rainbow_Drops'" aria-label="Learn more about Rainbow Drops">View more</button>

              
            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://cdn.shopify.com/s/files/1/0558/5826/6284/articles/116DD738-BD65-4995-BF77-C31C0DB74727_1200x630.jpg?v=1667410460"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><h5>Crystal Candies</h5><br>
            Shimmering candies that glitter like precious gems and is yumm!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.tastingtable.com/1333708/kohakutou-sweet-sparkly-edible-crystal-candies/'" aria-label="Learn more about edible crystal candies">View more</button>

             
            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://th.bing.com/th/id/OIP.D1T9kdrH84I-kh83Bv2rMAHaEo?rs=1&pid=ImgDetMain"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><h5>Chocolate Dreams</h5><br>
            Smooth chocolate treats that make your wishes come true!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://en.wikipedia.org/wiki/Chocolate_bar'" aria-label="Learn more about chocolate bars">View more</button>

             
            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://th.bing.com/th/id/R.a15c4d803c2b1f87cdff8c9c6d412fb3?rik=BfNVugRbiNRr6A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0614%2f8309%2f0107%2fproducts%2fRainbow-Unicorn-Pops-24-inch-36ct-CandyStore-com-333_1200x1200.jpg%3fv%3d1677169765&ehk=kxk4DfxJxEuvBXUruP1435rp1yio7SgOt4W%2b0kkvYVE%3d&risl=&pid=ImgRaw&r=0"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><h5>Rainbow Unicorn Pops</h5><br>
            Magical lollipops that change color as well of your tongue as you lick them!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://www.snackhistory.com/unicorn-pops/'" aria-label="Learn more about Unicorn Pops">View more</button>

              
            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://img.tastelife.tv/assets/uploads/2022/02/Dragon_Beard_Candy.jpeg"  style="height: 300px; width: 200px;" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text"><h5>Dragon's Breath Cotton Candy</h5><br>
            Cotton candy that makes you breathe harmless sparkly mist!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='https://en.wikipedia.org/wiki/Dragon%27s_beard_candy'" aria-label="Learn more about Dragon's Beard Candy">View more</button>

              
            </div>
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
